<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium User Tab</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/premium.css">
    <link rel="stylesheet" href="/css/appform.css">
    <link rel="stylesheet" href="/css/displayibtnform.css">
   
    <style>
        .menu-links .nav-link .icon {
            margin-left: -3.0rem;
            /* Adjust icon spacing */

        }
    </style>
</head>

    <body>
        
        <nav class="sidebar close">
            <header>
                <div class="image-text">
                    <span class="image">
                        <img src="./images/Logo5.png" alt="">
                    </span>
    
                    <div class="text logo-text">
                        <span class="name">Expensify</span>
                        <span class="profession">Expense-Income-Track</span>
                    </div>
                </div>
                <i class='bx bx-chevron-right toggle'></i>
            </header> 
    
            <div class="menu-bar">
                <div class="menu">
    
                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Search...">
                    </li>
    
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="/home">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="/premium">
                                <i class='bx bx-bar-chart-alt-2 icon'></i>
                                <span class="text nav-text">Premium</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-pie-chart-alt icon'></i>
                                <span class="text nav-text">Analytics</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-heart icon'></i>
                                <span class="text nav-text">Likes</span>
                            </a>
                        </li>
    
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-wallet icon'></i>
                                <span class="text nav-text">Wallets</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
                <div class="bottom-content">
                    <li class="">
                        <a href="#" id="logoutBtn">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
    
                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>
    
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
    
                </div>
            </div>
    
        </nav>

        <section class="home">
            <div class="row">
                <div class="text col-md-6">Premium</div>
                <div class="text col-md-6">
                    <button type="button" class="btn btn-primary iBtn" id="iBtn"><i class="bi bi-info-circle"></i></button>
                
                    <!-- Modal -->
                <div class="modal fade" id="profileDisplay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">User Profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
        
                            <div class="modal-body">
                                <form action="#" class="displayBox">
                                    
                                    <div class="card imgholder box">
                                        <img src="/images/Profile Icon.webp" alt="" width="200" height="200" class="n_displayImg">
                                    </div>
                                    
                                    <div class="input_Fields" id="iBtnFields">
                                        <div>
                                            <label class="display" for="i_display_name">Name:</label>
                                            <input type="text" name="n_display_name" id="i_display_name"  disabled>
                                        </div>
                                        <div>
                                            <label class="display" for="i_display_type">Type:</label>
                                            <input type="text" name="n_display_type" id="i_display_type"  disabled>
                                        </div>
                                        <div>
                                            <label class="display" for="i_display_email">Email:</label>
                                            <input type="email" name="n_display_email" id="i_display_email"  disabled>
                                        </div>
                                        <div>
                                            <label class="display" for="i_display_totalIncome">T-Income:</label>
                                            <input type="number" name="n_display_totalIncome" id="i_display_totalIncome" disabled>
                                        </div>
                                        <div>
                                            <label class="display" for="i_display_totalExpense">T-Expense:</label>
                                            <input type="number" name="n_display_totalExpense" id="i_display_totalExpense"  disabled>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-lg" id="clsBtn"data-bs-dismiss="modal">Close</button>
                            </div>
                            
                        </div>
                    </div>
                </div>  
            </div>
        </div>

        <section class="p-3">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-lg premiumBtn" id="premiumBtn">Buy Premium  <i class="bi bi-cash"></i></button>
                </div>
            </div>
        </section>

        <section class="p-3">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary btn-lg leaderBtn" id="leaderBtn">Show Leaderboard<i class="bi bi-award-fill"></i></button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-striped table-hover mt-3 text-center table-bordered">
                        <thead>
                            <tr>
                                <th class="tHead">Rank</th>
                                <th class="tHead">Name</th>
                                <th class="tHead">Total Expense</th>
                            </tr>
                        </thead>

                        <tbody id="leaderData"></tbody>

                    </table>
                </div>
            </div>
        </section>

        
    </section>

    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="/js/home.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/premium.js"></script>

</body>
</html>