:root {

    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #fff;
    --primary-color: #512da8;
    --primary-color-blue:#0000ff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;

}


#reportBtn, #downloadReportsBtn {
    background-color: var(--primary-color);
}

#reportBtn:hover, #downloadReportsBtn:hover {
    background-color: var(--primary-color-blue);
}